html {
/*  background-color: lightgray; */
}
h1 {
  border: 5px solid white;
  border-radius: 3px;
}
h2 {
  border: 5px solid blue;
  border-radius: 3px;

}
h3 {
  border: 5px solid red;
  border-radius: 3px;
}

img {
  height: 50%;
  padding: 10px 10px;
  border-top: 5px white;
  border-right: 5px blue;
  border-bottom: 5px red;
  border-left: 5px lightgray;
  border-style: dotted solid double dashed;
}

div {
  padding: 10px;
  background-color: lightgray;
}
