
div{
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 700px; 
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 5px; 
  border:1px white solid;
  background-color: lightblue;
}
h5 {
  text-shadow: 2px 2px 5px rgb(0, 255, 170);
  text-transform: uppercase;
}